<div class="container-fluid about">
    <div class="row">
        <div class="col-md-6 about-container ">
            <div class="about-section">
                <h3 class="about-title">Sobre Nós</h3>
                <p>
                    A associação adopta a denominação abreviadamente designada, ASARCAGE.
                </p>
                <p>
                    A associação dos Armadores de Cabotagem e Gestores de Angola é uma 
                    associação sem quaisquer fins lucrativos da qual podem ser associados qualquer cidadão angolano.
                    A associação dos Armadores de Gestores de Angola se regerá pelo presente estatuto e pela Lei 
                    no 6/12 de 18 de Janeiro.
                </p>
            </div>
           
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>